# Папки и файлы, генерируемые Python
__pycache__/
*.pyc
*.pyo

# Виртуальное окружение
.venv/
venv/
env/

# Артефакты тестирования
.pytest_cache/

# Файлы редакторов (опционально, но рекомендуется)
.vscode/
.idea/
*.swp

# Системные файлы
.DS_Store
Thumbs.db